/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  /* ... (resto de variables de vue) ... */
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
--color-background: black;      /* Fondo rosita suave */
--color-background-soft: #FFEAF6; /* Paneles */
--color-background-mute: #FFD6EB; /* Secciones muy claras */

--color-heading: #A7E3FF;  /* Títulos celeste pastel */
--color-text: #5E5E5E;     /* Gris suave kawaii */

  --section-gap: 160px;  

  --v-theme-background: var(--color-background);
  --v-theme-surface: var(--color-background-soft);
  --v-theme-on-surface: var(--color-text);
 
}

/* Modo oscuro: */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --v-theme-background: var(--color-background);
    --v-theme-surface: var(--color-background-soft);
    --v-theme-on-surface: var(--color-text);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background); /* Este será cubierto por .v-application */
  background-image: radial-gradient(rgba(249, 168, 212, 0.2) 1px, transparent 1px);
  background-size: 15px 15px;
  background-attachment: fixed; /* Mantiene el patrón fijo al hacer scroll */

  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'M PLUS Rounded 1c',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-application {
  background: transparent !important;
}

.v-text-field .v-field__outline {
  border-radius: 12px !important;
}